* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 0;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Playfair Display, sans-serif;
}

.title {
  font-size: 140px;
  text-align: center;
  padding-bottom: 46px;
  min-width: 300px;
}

.subtitle {
  font-size: 24px;
}

a {
  color: #fff;
}

.btn {
  position: relative;
  width: 160px;
  height: 44px;
  margin-top: 88px;
  border: 2px solid #fff;
  border-radius: 20px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  letter-spacing: 0.031em;
  color: #fff;
  opacity: 0.8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #fff));
  background-image: linear-gradient(transparent 50%, #fff 50%);
  background-size: 200% 200%;
  background-position: 0 200%;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover {
  background-position: 0 100%;
  color: #111;
}

.overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .2;
  z-index: 1;
}

.header,
.red-room,
.book-cover,
.photoshoot,
.portrait,
.footer {
  height: 100vh;
}

.header {
  background: #bebebe url(../img/bg_1.jpg) center no-repeat;
  background: #bebebe url(../img/bg_1.webp) center no-repeat;
  background-size: cover;
}

.header__logo {
  padding: 35px 0px 25px 0px;
}

.header .nav {
  font-family: Playfair Display, sans-serif;
  font-size: 22px;
}

.header .nav__item {
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.header .nav__item:not(:first-child) {
  margin-left: 40px;
}

.header .nav__item:hover {
  opacity: .6;
}

.header__btn {
  margin-top: 165px;
}

.red-room {
  background: #6d0209 url(../img/bg_2.jpg) center no-repeat;
  background: #6d0209 url(../img/bg_2.webp) center no-repeat;
  background-size: cover;
}

.red-room__btn {
  margin-top: 165px;
  background-image: linear-gradient(45deg, #fff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.red-room__btn:hover {
  background-position: 0;
}

.book-cover {
  background: #0f3a49 url(../img/bg_3.jpg) center no-repeat;
  background: #0f3a49 url(../img/bg_3.webp) center no-repeat;
  background-size: cover;
}

.book-cover__title {
  max-width: 870px;
}

.book-cover__btn {
  background-position: 0 0;
}

.photoshoot {
  background: #616161 url(../img/bg_4.jpg) center no-repeat;
  background: #616161 url(../img/bg_4.webp) center no-repeat;
  background-size: cover;
}

.photoshoot__title {
  max-width: 900px;
}

.photoshoot__btn {
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.photoshoot__btn:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #fff;
  z-index: -1;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.photoshoot__btn:hover {
  color: #111;
}

.photoshoot__btn:hover::after {
  width: 110%;
}

.portrait {
  background: #a4918b url(../img/bg_5.jpg) center no-repeat;
  background: #a4918b url(../img/bg_5.webp) center no-repeat;
  background-size: cover;
}

.portrait__title {
  max-width: 950px;
}

.portrait__btn {
  -webkit-transition: color .5s ease-in-out, -webkit-box-shadow .4s ease-in-out;
  transition: color .5s ease-in-out, -webkit-box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out, color .5s ease-in-out;
  transition: box-shadow .4s ease-in-out, color .5s ease-in-out, -webkit-box-shadow .4s ease-in-out;
}

.portrait__btn:hover {
  -webkit-box-shadow: 0 0 40px 40px #fff inset;
          box-shadow: 0 0 40px 40px #fff inset;
}

.footer {
  background: #000;
}

.footer__title {
  font-size: 50px;
}

.footer__btn {
  width: 186px;
  height: 42px;
  background: #fff;
  color: #111;
  border: none;
  font-size: 14px;
  margin-top: 60px;
}

.footer .copyright,
.footer .contacts__item {
  color: #666;
  font-size: 13px;
}

@media (max-width: 991px) {
  .title {
    font-size: 100px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 80px;
  }
  .overlap {
    opacity: .3;
  }
}

@media (max-width: 575px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 2 !important;
    margin-top: 40px;
  }
  .header__burger span {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    top: 9px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .menu {
    position: absolute;
    top: -100%;
    left: 0;
    background: #212121;
    width: 100%;
    height: 60%;
    -webkit-transition: top .7s;
    transition: top .7s;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 10px 15px 0px rgba(34, 60, 80, 0.2);
  }
  .header .menu .nav__item {
    margin-left: 0;
    margin-top: 20px;
  }
  .header .menu.active {
    top: 0;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    padding: 0;
  }
  .title {
    white-space: normal;
    font-size: 52px;
  }
  .subtitle {
    font-size: 20px;
  }
}
